.title {
  color: rgb(134, 245, 158);
  background-color: rgba(87, 155, 175, 0.8);
  display: inline-flex;
  width: 40%;
  justify-content: space-evenly;
  border-radius: 20px;
}

.description {
  color: aliceblue;
  background-color: rgba(87, 155, 175, 0.8);
  display: inline-flex;
  width: 65%;
  justify-content: space-evenly;
  border-radius: 20px;
}
